*, *::after, *::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  background-color: #FFFFFF;
}

body.home {
  background:  url("/images/art/background.gif") no-repeat center center fixed;
  background-size: cover;
}

body.dark {
  background-color: black;
  color: white;
}

.dark h1,.dark h2,.dark h3,.dark h4,.dark h5,.dark h6,.dark a,.dark p,.dark a:visited,.dark a:hover {
  color: white;
}

.clearfix {
  display: table;
}

.clearfix::after {
  clear: both;
}

.clear {
  clear: both;
}

.center {
  width: 300px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -50px;
  z-index: 2;
}

.home  a {
  text-decoration: none;
}

#content-wrapper {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0px 5%;
}

#content-wrapper img {
  width: 100%;
}

#projects {
  padding-bottom: 13em;
  display: inline-block;
}

a, a:visited, a:hover {
  color: black;
}

a.active {
  font-style: italic;
}

h2 {
  margin-bottom: 0.2em;
  font-size: 1.7em;
}

p {
  font-size: 1em;
  margin-top: 0.5em;
}

p.caption {
  font-size: 0.8em;
  color: #96989d;
  text-align: center;
}

p.caption a {
  color: #96989d;
}

.art .image.series {
  padding-bottom: 0;
}

nav {
  position: fixed;
  top: 0;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 3em;
}

nav ul li {
  margin-right: 1em;
  float: left;
  font-size: 1em;
  color: black;
}

nav ul li.website-name a {
  text-decoration: none;
  font-weight: 600;
}

mark {
  background: #ffd8b7;
}

.left {
  width: 50%;
  float: left;
  padding-right: 2px;
}

.right {
  width: 50%;
  float: right;
  padding-left: 2px;
}

.inline {
  display: inline-block;
}

ul.left.type {
  padding: 0;
  margin-bottom: 50px;
  margin-top: 14px;
}

ul li {
  list-style-type: none;
  color: #96989d;
}

.right.description {
  margin-bottom: 50px;
  margin-top: 14px;
}

.right.description.title {
  right: 0;
  z-index: 1000;
  font-weight: 400;
}

.header-bar {
  width: 100%;
  height: 63px;
  z-index: 999;
  padding-top: 2.9em;
}

.art .header-bar.project {

}

.header-bar h2, .header-bar p {
  margin-top: 0;
}

.header-bar h2 {
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 1px;
  margin-top: 6px;
}

.header-bar.light h2 {
  color: black;
}

.header-bar h2 a {
  color: #96989d;
  text-decoration: none;
}

.header-bar p {
  margin-top: 0.4em;
}

.header-bar p a {
  color: #96989d;
}

span.availability {
  margin-top: 2.9em;
}

.availability.available {
  color: rgb(67, 186, 58);
}

.right.caption {
  margin-bottom: 28px;
  margin-top: 20px;
}

.description h2 {
  font-size: 2em;
  font-weight: 400;
}

#marks .image-caption {
  bottom: 0px;
}

#marks .image-caption a  {
  color: #b4b7bd;
}

.video-bg video {
  width: 100%;
  max-width: 287px;
  height: auto;
}

.video-bg {
  width: 100%;
  height: 857px;
  display: inline-block;
  background: url("../images/iphone-hand.jpg") no-repeat center center;
  background-size: cover;
}

.video-bg.iphone-5 {
  background: url("../images/iphone-hand-5.jpg") no-repeat center center;
  background-size: cover;
}

.video-bg video {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
}

#extra-links.project {
  border-bottom: none;
}

p.image-caption {
  position: absolute;
  padding: 10px 18px;
  color: white;
}

p.image-caption a {
  color: white;
}

.project {
  padding-bottom: 200px;
  padding-top: 70px;
  border-bottom: 1px solid #eee;
  display: inline-block;
}

#projects .project:first-child {
  padding-top: 0;
}

#footer {
  color: #96989d;
  padding-bottom: 6em;
}

#footer ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer li {
  margin-bottom: 1em;
}

#footer li:last-child {
  padding-right: 0em;
}

#footer li a {
  color: #96989d;
}

#content-wrapper.footer-inside {
  margin:0 auto;
  padding: 3.4em 0em;
}

.projects-wrapper {
  margin-top: 10em;
}

.art .image {
  padding-bottom: 24em;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /*background: url(polina.jpg) no-repeat;*/
    background-size: cover;
    z-index: 1;
}


@media screen and (max-width: 600px) {
   .right {
    width: 100%;
    padding: 0;
  }
  .left {
    width: 100%;
    padding: 0;
  }
  li.website-name {
    width:100%;
    padding-bottom: 1em;
  }
  nav {
    position: relative;
  }
  nav ul {
    margin-top: 1.1em;
  }

  .header-bar h2 {
    margin-bottom: 20px;
  }

  .description.fadingin h2 {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translateZ(0);
  }

  #projects {
    padding-bottom: 0em;
  }

  .projects-wrapper {
    margin-top: 9em;
  }
  #footer {
    position: relative;
  }
  #footer .footer-inside {
    padding: 0px;
    padding-bottom: 6em;
  }
}

@media screen and (max-width: 414px) {

}

@media screen and (max-width: 375px) {
  body {
    padding: 0;
  }
  .right {
    width: 100%;
  }
  .left {
    width: 100%;
  }
  .third {
    width: 100%;
  }

  .video-bg video {
    max-width: 240px;
  }
  .description h2 {
    font-size: 2em;
  }
  .description.fadingin h2 {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translateZ(0);
  }
  .video-bg video {
    width: 238;
    height: 425;
  }
  .video-bg {
    height: 716px;;
  }
  nav ul {
    margin-top: 1.1em;
  }
  nav ul li {
    font-size: 0.98em;
  }
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .video-bg {
    background: url("../images/iphone-hand@2x.jpg") no-repeat center center;
    background-size: cover;
  }

  .video-bg.iphone-5 {
    background: url("../images/iphone-hand-5@2x.jpg") no-repeat center center;
    background-size: cover;
  }
}
