*, *::after, *::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  background-color: #FFFFFF;
}

body.home {
  background:  url("/images/art/background.gif") no-repeat center center fixed;
  background-size: cover;
}

body.dark {
  background-color: black;
  color: white;
}

.dark h1,.dark h2,.dark h3,.dark h4,.dark h5,.dark h6,.dark a,.dark p,.dark a:visited,.dark a:hover {
  color: white;
}

.clearfix {
  display: table;
}

.clearfix::after {
  clear: both;
}

.clear {
  clear: both;
}

.spacer {
  padding: 50px 0px 20px 0px;
}

.center {
  width: 330px;
  height: 46px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -50px;
  z-index: 2;
}

#content-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0px 5%;
}

#content-wrapper img {
  width: 100%;
  /*display: block;*/
}

#projects {
  padding-bottom: 13em;
  display: inline-block;
}

a, a:visited, a:hover {
  color: black;
}

a, a span {
  cursor: pointer;
}

a.active {
  font-style: italic;
}

h2 {
  margin-bottom: 0.2em;
  font-size: 1.4em;
  font-weight: 700;
}

p {
  font-size: 1.4em;
  margin-top: 0.5em;
  font-weight: 300;
}

p.caption {
  font-size: 1.1em;
  color: #96989d;
  text-align: center;
}

p.caption a {
  color: #96989d;
}

.art .image.series {
  padding-bottom: 0;
}

nav {
  position: fixed;
  top: 0;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 3em;
}

nav ul li {
  margin-right: 1em;
  float: left;
  font-size: 1em;
  color: black;
}

nav ul li.website-name a {
  text-decoration: none;
  font-weight: 600;
}

mark {
  background: #ffe093;
}

.left {
  width: 50%;
  float: left;
  padding-right: 2px;
}

.right {
  width: 50%;
  float: right;
  padding-left: 2px;
}

.inline {
  display: inline-block;
}

ul.left.type {
  padding: 0;
  margin-bottom: 50px;
  margin-top: 14px;
}

#projects ul li {
  list-style-type: none;
  color: #96989d;
}

#projects ul li p, #footer ul li p {
  margin: 0;
}

.right.description {
  margin-bottom: 50px;
  margin-top: 14px;
}

.right.description.title {
  right: 0;
  z-index: 1000;
  font-weight: 400;
}

.header-bar {
  width: 100%;
  height: 63px;
  z-index: 999;
  padding-top: 2.9em;
}

.header-bar h2, .header-bar p {
  margin-top: 0;
}

.header-bar h2 {
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 1px;
  margin-top: 11px;
}

.header-bar.light h2 {
  color: black;
}

.header-bar h2 a {
  color: #96989d;
  text-decoration: none;
}

.header-bar p {
  margin-top: 0.4em;
}

.embeds {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.third {
  width: 33.3%;
  float: left;
}

.embed {
  position: relative;
  padding-bottom: 173%;
  height: auto;
  overflow: hidden;
  max-width: 100%;
}

.embed iframe, .embed object, .embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.embed-full {
  position: relative;
  padding-bottom: 56.25%;
  height: auto;
  overflow: hidden;
  max-width: 100%;
}

.embed-full iframe, .embed-full object, .embed-full embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header-bar p a {
  color: #96989d;
}

span.availability {
  margin-top: 2.9em;
}

.sub-header {
  padding: 50px 0px 30px 0px;
  display: flex;
}

.availability.available {
  color: rgb(67, 186, 58);
}

.right.caption {
  margin-bottom: 28px;
  margin-top: 20px;
}

.description h2 {
  font-size: 2em;
  font-weight: 400;
}

#marks .image-caption {
  bottom: 0px;
}

#marks .image-caption a  {
  color: #b4b7bd;
}

.video-bg video {
  width: 100%;
  max-width: 336px;
  right: -1px;
  height: auto;
}

.video-bg {
  width: 100%;
  height: 1000px;
  display: inline-block;
  background: url("../images/iphone-hand.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
}

.macbook-video-bg video {
  width: 100%;
  max-width: 680px;
  height: auto;
}

.macbook-video-bg {
  width: 100%;
  height: 800px;
  display: inline-block;
  background: url("../images/universe/macbook.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
}

.macbook-video-bg.black video {
  max-width: 740px;
  background-color: black;
}

.macbook-video-bg.black {
  background: url("../images/universe/macbook-black.jpg") no-repeat center center;
}

.macbook-video-bg video {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 48.5%;
  transform: translateY(-50%);
  background-color: white;
}

.video-bg.no-hand {
  width: 100%;
  height: 857px;
  display: inline-block;
  background: url("../images/iphone-noHand.jpg") no-repeat center center;
  background-size: cover;
}

.video-bg.w-right-hand {
  background: url("../images/iphone-hand-w-left.jpg") no-repeat center center;
  background-size: cover;
}

.video-bg.iphone-5 {
  background: url("../images/iphone-hand-5.jpg") no-repeat center center;
  background-size: cover;
}

.video-bg video {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
}

.video-bg .image-caption, .video-bg .image-caption a {
  bottom: 0;
  color: #bababa;
  right: 10px;
}

#extra-links.project {
  border-bottom: none;
}

p.image-caption {
  position: absolute;
  padding: 10px 18px;
  color: white;
  font-size: 1.1em;
}

p.image-caption a {
  color: white;
}

.project {
  padding-bottom: 200px;
  padding-top: 70px;
  border-bottom: 1px solid #eee;
  display: inline-block;
}

#projects .project:first-child {
  padding-top: 0;
}

#footer {
  color: #96989d;
  padding-bottom: 6em;
}

#footer ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer li:last-child {
  padding-right: 0em;
}

#footer li a {
  color: #96989d;
}

#content-wrapper.footer-inside {
  margin:0 auto;
  padding: 3.4em 0em;
}

.projects-wrapper {
  margin-top: 10em;
}

.art .image {
  padding-bottom: 24em;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /*background: url(polina.jpg) no-repeat;*/
    background-size: cover;
    z-index: 1;
}

.creatures.full-screen-background {
  background-image: url("../images/creature-bg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.creatures .creatures-title {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 100%;
  flex-flow: column;
  color: white;
  max-width: 1000px;
  margin: 0 auto;
}

.gradient-bg {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.005) 9.6%,
    hsla(0, 0%, 0%, 0.02) 18.2%,
    hsla(0, 0%, 0%, 0.042) 25.9%,
    hsla(0, 0%, 0%, 0.071) 32.8%,
    hsla(0, 0%, 0%, 0.104) 39%,
    hsla(0, 0%, 0%, 0.142) 44.8%,
    hsla(0, 0%, 0%, 0.182) 50.3%,
    hsla(0, 0%, 0%, 0.222) 55.6%,
    hsla(0, 0%, 0%, 0.262) 60.9%,
    hsla(0, 0%, 0%, 0.3) 66.3%,
    hsla(0, 0%, 0%, 0.335) 71.9%,
    hsla(0, 0%, 0%, 0.364) 78%,
    hsla(0, 0%, 0%, 0.388) 84.6%,
    hsla(0, 0%, 0%, 0.403) 91.9%,
    hsla(0, 0%, 0%, 0.41) 100%
  );
}

.creatures-inner {
  padding: 10%;
}

.creatures-title h1, .creatures-title p {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.creatures-title h1 {
  font-size: 4em;
  margin-bottom: 20px;
  line-height: 1em;
}

.creatures-title p {
  font-weight: 400;
  font-size: 1.6em;
}

.creatures #footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 200px 30px 20px 30px;
}

.creatures #footer p {
  font-size: 12px;
  text-align: right;
  color: rgba(255,255,255,0.6);
  margin: 2px 0 3px 0;
}

@media screen and (max-width: 1024px) {
  .macbook-video-bg {
    height: 710px;
  }
  .macbook-video-bg video {
    max-width: 606px;
  }
  .macbook-video-bg.black video {
    max-width: 660px;
  }
}

@media screen and (max-width: 768px) {
  .macbook-video-bg {
    height: 480px;
  }
  .macbook-video-bg video {
    max-width: 408px;
  }
  .macbook-video-bg.black video {
    max-width: 440px;
  }
}


@media screen and (max-width: 600px) {
   .right {
    width: 100%;
    padding: 0;
  }
  .left {
    width: 100%;
    padding: 0;
  }
  .sub-header {
    display: block;
  }
  li.website-name {
    width:100%;
    padding-bottom: 1em;
  }
  nav {
    position: relative;
  }
  nav ul {
    margin-top: 1.1em;
  }

  .header-bar h2 {
    margin-bottom: 20px;
  }

  .description.fadingin h2 {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translateZ(0);
  }

  .video-bg video {
    width: 234px;
  }

  .video-bg {
    height: 700px;
  }

  .macbook-video-bg {
    height: 250px;
  }

  .macbook-video-bg video {
    width: 200px;
  }

  .macbook-video-bg.black video {
    width: 264px;
  }

  .video-bg .image-caption, .video-bg .image-caption a {
    width: 100%;
    left: 0;
  }

  .projects-wrapper {
    margin-top: 9em;
  }
  #footer {
    position: relative;
  }
  #footer .footer-inside {
    padding: 0px;
    padding-bottom: 6em;
  }

  .embed-container {
    padding-bottom: 100% !important;
  }
}

@media screen and (max-width: 414px) {

}

@media screen and (max-width: 375px) {
  body {
    padding: 0;
  }
  .right {
    width: 100%;
  }
  .left {
    width: 100%;
  }
  .third {
    width: 100%;
  }

  .video-bg video {
    max-width: 240px;
  }
  .description h2 {
    font-size: 2em;
  }
  .description.fadingin h2 {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translateZ(0);
  }
  .video-bg video {
    width: 240px;
  }
  .video-bg {
    height: 716px;
  }
  nav ul {
    margin-top: 1.1em;
  }
  nav ul li {
    font-size: 0.98em;
  }
}

@media screen and (max-width: 320px) {
  .video-bg {
    height: 570px;
  }
  .video-bg video {
    width: 190px;
  }
  .macbook-video-bg.black video {
    width: 234px;
  }
  p.image-caption {
    font-size: 0.9em;
  }
  p, h2 {
    font-size: 1.25em
  }
  .projects-wrapper {
    margin-top: 4em;
  }
}

@media screen and (min-width : 320px) and (max-width : 568px) and (orientation : landscape) {
  .macbook-video-bg {
    height: 400px;
  }
  .macbook-video-bg video {
    width: 340px;
  }
  .macbook-video-bg.black video {
    width: 370px;
  }
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .video-bg {
    background: url("../images/iphone-hand@2x.jpg") no-repeat center center;
    background-size: cover;
  }

  .video-bg.w-right-hand {
    background: url("../images/iphone-hand-w-left@2x.jpg") no-repeat center center;
    background-size: cover;
  }

  .macbook-video-bg {
    background: url("../images/universe/macbook@2x.jpg") no-repeat center center;
    background-size: cover;
  }

  .macbook-video-bg.black {
    background: url("../images/universe/macbook-black@2x.jpg") no-repeat center center;
    background-size: cover;
  }

  .video-bg.no-hand {
    background: url("../images/iphone-noHand@2x.jpg") no-repeat center center;
    background-size: cover;
  }

  .video-bg.iphone-5 {
    background: url("../images/iphone-hand-5@2x.jpg") no-repeat center center;
    background-size: cover;
  }
}

.dog-container {
  margin-top: 60px;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 24px;
  padding: 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  gap: 16px;
}

.dog-text {
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  gap: 16px;
}

.dog-text p {
  padding: 0;
  margin: 0;
}

#content-wrapper img.dog-icon {
  height: 40px;
  width: auto;
}

#content-wrapper .dog-container .app-store img {
  height: 48px;
  width: auto;
}