*, *::after, *::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  background-color: #FFFFFF;
}

.clearfix {
  display: table;
}

.clearfix::after {
  clear: both;
}

#content-wrapper {
  padding: 1em;
  margin: 0 auto;
  height: 100%;
  max-width: 1000px;
}

#content-wrapper img {
  max-width: 700px;
  width: 100%;
}

#subtitle, 
#projects
{
  display: none;
}

#projects {
  padding-bottom: 13em;
}

a, a:visited, a:hover {
  color: black;
}

a.active {
  font-style: italic;
}

h2 {
  margin-bottom: 0.2em;
  font-size: 1.7em;
}

p {
  font-size: 1em;
  margin-top: 0.5em;
}

nav {
  position: fixed;
  top: 0;
}

nav .navigation {
  float: left;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 3em;
}

nav ul li {
  padding-right: 1em;
  float: left;
}

nav ul li a {
  font-size: 1em;
  color: black;
}

nav ul li.website-name a {
  text-decoration: none;
  font-weight: 600;
}

.description {
  margin-top: 28%;
}

.description h2 {
  font-size: 2em;
  font-weight: 400;
}

.projects-wrapper {
  margin-top: 14.4em;
}

.project {
  padding-top: 4em;
}

.project:first-child {
  padding-top: 0em;
}

#footer {
  position: fixed;
  bottom: 0px;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
}

#footer ul{
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
}

#footer li {
  float: left;
  padding-right: 1em;
}

#footer li:last-child {
  padding-right: 0em;
}

#footer li a {
  color: #BBB;
}

#content-wrapper.footer-inside {
  margin:0 auto;
  padding: 3.4em 1em;
}

/*@media screen and (max-width: 600px) {

  .description {
    margin-top: 50%;
  }

  #projects {
    padding-bottom: 9em;
  }

  .projects-wrapper {
    margin-top: 30%;
  }

}
*/
@media screen and (max-width: 600px) {
  li.website-name {
    width:100%;
    padding-bottom: 1em;
  }
  nav { 
    position: relative;
  }
  nav ul {
    margin-top: 1.1em;
  }
  .description {
    margin-top: 50%;
  }
  .projects-wrapper {
    margin-top: 6em;
  }
  #footer {
    position: relative;
  }
  #footer .footer-inside {
    padding: 0px;
    padding-bottom: 6em;
  }
  #subtitle, 
  #projects 
  {
    display: block;
  }
}

@media screen and (max-width: 320px) {
  .description {
    margin-top: 10em;
  }
  .description h2 {
    font-size: 1.7em;
  }
  nav ul {
    margin-top: 1.1em;
  }
  nav ul li {
    font-size: 0.98em; 
  }
}



